#javascript, #python, #csharp {
display: none;
}

img {
  height: 300px;
  width: 300px;
}
.well h1 {
  color: green;
  text-align: center;
  }
  
  h1 {
      text-align: center;
      color: rgba(139, 47, 245, 0.747);
  }
  
  #csharp h2 {
      background-color: blanchedalmond; 
      color: blueviolet;
  }
  
  #python h2 {
  background-color: blanchedalmond;
  color: blueviolet;
  }
  
  p {
   
     color: green; 
  }
  
  
  img {
      justify-items: center;
      float: right;
  }
  
  #javascript img {
      height: 300px;
      width: 300px;
  }